<%- include('../partials/header') %>

<div class="vertical-center">
    <div class="container-fluid login">
        <h1 class="login-title">Recipe Book</h1>
        <form action="/auth/login" method="POST">
            <div class="row">
                <input type="text" name="username" placeholder="username" class="btn-center">
            </div>
            <div class="row">
                <input type="password" name="password" placeholder="password" class="btn-center">
            </div>
            <div class="row">
                <div class="col col-btn-left">
                    <input type="submit" class="btn btn-primary login-btn" value="Login">
                </div>
                <div class="col col-btn-right">
                    <a href="/auth/register" class="btn btn-primary login-btn">Register</a>
                </div>
            </div>    
        </form>
    </div>
</div>

<%- include('../partials/footer') %>