<%- include('../partials/header.ejs') %>

<div class="vertical-center">
    <div class="container-fluid login">
    	<h1 class="login-title">Register</h1>
        <form action="/auth/register" method="post">
            <div class="row">
                <input type="text" name="username" placeholder="username" class="btn-center login-input">
            </div>
            <div class="row">
                <input type="password" name="password" placeholder="password" class="btn-center login-input">
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary btn-center btn-register" value="Sign Up">
            </div>
		</form>
    </div>
</div>

<%- include('../partials/footer') %>