<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Book</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.tiny.cloud/1/5el1rdvc1dyc6w6sjgos22rsl2g1rodh5k5ip3m4kl8gleik/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
              selector: 'textarea'
            });
        </script>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <!-- Are We Logged In?-->
        <% if (currentUser){ %>
            <!-- Header Image -->
            <div class="container-fluid container-header overflow-hidden">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="" class="float-left header-image" alt="">
                    </div>
                    <div class="col-sm-6 header-center">
                        <p>
                            <span class="big-letter">R</span>ecipe <span class="big-letter">B</span>ook
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img src="" class="float-right header-image" alt="">
                    </div>
                </div>
            </div>

            <!-- NavBar -->
            <ul class="nav nav-pills nav-fill navbar-main">
                <li class="nav-item">
                    <a class="nav-link capitalize" href="/recipes"><%= currentUser.username %>'s Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes/new">Create New Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Log Out</a>
                </li>
            </ul>
        <% } %>

        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>

            <% if(success && success.length >0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>