<%- include('./partials/header') %>

<div class="vertical-center">
    <div class="container-fluid landing">
        <div class="row">
            <h1 class="landing-title">Recipe Book</h1>
        </div>
        <div class="row">
            <p class="landing-intro">
                Welcome to the Recipe Book, a digital site where you can save your recipes and access them anywhere!
            </p>
        </div>
        <div class="row landing-buttons">
            <div class="col col-btn-left">
                <a href="/auth/login" class="btn btn-primary login-btn">Login</a>
            </div>
            <div class="col col-btn-right">
                <a href="/auth/register" class="btn btn-primary login-btn">Register</a>
            </div>
        </div> 
    </div>
</div>

<%- include('./partials/footer') %>