html {
    height: 100%;
}

body {
    background-image: url('/Images/landing.jpg');
    height: 100%;
}

.container-header {
    background: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.header-center p {
    font-family: 'Ruthie', cursive;
    font-size: 600%;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: blue;
    text-align: center;
}

.login-title {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 400%;
}

.login {
    background: black;
    margin: auto;
    width: 25%;
    min-height: 30%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: blue;   
}

.vertical-center {
    min-height: 75%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 75vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.navbar-main {
    background-color: black;
}

.navbar-main .navbar-brand,
.navbar-main .navbar-text,
.navbar-main .nav-link {
    color: #4092F5;
    font-size: 125%;
}

.navbar-main .nav-link:hover {
    color: yellow;
}

.recipes {
    padding-top: 20px;
    overflow: auto;
    margin-bottom: 0%;
    height: 72%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
}

footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

.recipe {
    margin: 25px;
    text-align: center;
    padding-left: 50px;
}

.recipe-detail {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
    margin-bottom: 0%;
    height: 72%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
}

.recipe-title {
    padding-right: 25px;
    color: white;
    font-weight: bold;
}

.title-center {
    color: #007BFF;
    font-weight: bold;
    margin: auto;
}

.new-recipe-btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.new-recipe {
    padding-top: 20px;
    margin-bottom: 0%;
    height: 72%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.img-responsive {
    max-width: 35%;
    max-height: 35%;
}

.login-btn {
    min-width: 100px;
    margin: 5px;
}

.login-lbl {
    font-size: 125%;
}

.col-login-lbl {
    text-align: right;
}

.col-btn-left {
    text-align: right;
}

.col-btn-right {
    text-align: left;
}

.btn-center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.capitalize {
    text-transform: capitalize;
}

.recipe-column {
    text-align: right;
}

.button-column {
    text-align: left;
}

.thumbnail img {
    width: 10em;
    height: 10em;
}

.thumbnail {
    padding: 25px;
}

.thumbnail .caption-full {
	padding: 9px;
}

.recipe-content {
    background: white;
    margin: 25px;
}